Repository lerna/getting-started-example: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-footer-pipeline, run-header-pipeline

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Bump independent versions [skip ci]
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

chore: setting license
  package.json
  packages/footer/package.json
  packages/header/package.json
Due: run-footer-pipeline, run-header-pipeline

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/footer/CHANGELOG.md
  packages/header/CHANGELOG.md
Due: run-footer-pipeline, run-header-pipeline

Bump independent versions [skip ci]
  LICENSE.md
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

fix: fix package.json
  packages/footer/package.json
  packages/header/package.json
Due: run-footer-pipeline, run-header-pipeline

Bump independent versions [skip ci]
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
Due: run-footer-pipeline, run-header-pipeline

chore: configuring npmClient at lerna config
  lerna.json
Due: none

fix: fixing versioning
  packages/remixapp/package.json
  yarn.lock
Due: none

Convert to internal packages for testing
  .npmrc
  package-lock.json
  packages/footer/package.json
  packages/header/package.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

Ccroom/bump version 002 (#1)
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
Due: run-footer-pipeline, run-header-pipeline

touch header (#2)
  packages/header/src/Header.tsx
Due: run-header-pipeline

add workflow
  .github/workflows/workflow-shared-typescript-pr.yml
Due: none

chore: update to Lerna 7.1.5
  README.md
  lerna.json
  nx.json
  package-lock.json
  package.json
Due: none

chore: update lockfile and pin node version
  README.md
  package-lock.json
  package.json
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

chore: add workspaces property to package.json
  package.json
Due: none

chore: add workspaces property to package.json (#32)
  package.json
Due: none

first
  package-lock.json
  packages/footer/package.json
  packages/header/package.json
  packages/remixapp/app/root.tsx
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

v0.0.1
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

c 2
  packages/remixapp/app/root.tsx
Due: none

v0.0.2
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

c 2
  packages/footer/package.json
  packages/header/package.json
  packages/remixapp/app/root.tsx
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

v0.0.3
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

v0.0.4
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

v0.0.1
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
Due: run-footer-pipeline, run-header-pipeline

feat(footer): add new text
  packages/footer/src/Footer.tsx
Due: run-footer-pipeline

v1.0.0
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
Due: run-footer-pipeline, run-header-pipeline

v1.1.0
  lerna.json
  package-lock.json
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/package-lock.json
  packages/header/package.json
Due: run-footer-pipeline, run-header-pipeline

v1.2.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/footer/CHANGELOG.md
  packages/footer/package-lock.json
  packages/footer/package.json
  packages/header/CHANGELOG.md
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/CHANGELOG.md
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-footer-pipeline, run-header-pipeline

feat(header): add new text
  packages/header/src/Header.tsx
Due: run-header-pipeline

v1.3.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/header/CHANGELOG.md
  packages/header/package-lock.json
  packages/header/package.json
  packages/remixapp/CHANGELOG.md
  packages/remixapp/package-lock.json
  packages/remixapp/package.json
Due: run-header-pipeline

feat(header): change header text color
  packages/header/src/Header.tsx
Due: run-header-pipeline

fix(header): put header correct color
  packages/header/src/Header.tsx
Due: run-header-pipeline

refactor(header): change way of setting text color
  packages/header/src/Header.tsx
Due: run-header-pipeline

feat(remixapp): add debug hint
  packages/remixapp/app/root.tsx
Due: none

Path conditions:
  run-footer-pipeline: any of: packages/footer/.*
  run-header-pipeline: any of: packages/header/.*
